.logo {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 200px;
}

.slide em {
	font-size: 1.2em;
	text-transform: uppercase;
	color: yellow;
}

.author {
	position: absolute;
	bottom: 50px;
	margin: auto;
}